<style>
.instructions {
    top:50;
    width:85%;
    margin: auto;
    text-align:center;
        font:20px Georgia;
        <!--color:#5C5C5C;-->
        <!--background:#F2FFED;-->
        padding:10px;
    margin-top: 50px;
}
</style>
    <div class="instructions">
    <form action="/init/default/geekbuddiesgraph" method="post">
        <div>
            <label for="name">BGG Username:</label>
            <input type="text" id="name" name="user_name" value="axelsohn" />
        </div>
        <br>
        <div class="button">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
