<style>
.instructions {
    top:50;
    width:85%;
    margin: auto;
    text-align:center;
        font:20px Georgia;
        <!--color:#5C5C5C;-->
        <!--background:#F2FFED;-->
        padding:10px;
    margin-top: 50px;
    line-height: 135%;
}

body {
    background: url(http://vignette3.wikia.nocookie.net/steamtradingcards/images/2/27/Steam_Summer_Adventure_2014_Background_Adventure_Game_Board.jpg/revision/latest/scale-to-width-down/1280?cb=20140621013102);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position-y: 0;
}


button {
font-size: 22;
background-color: white;
border-radius: 6px;
padding: 4px 8px 4px 8px;
}

label {
color: white;
font-size: 30;
font-weight: bold;
}

input {
font-size: 20;
border-radius: 4px;
padding: 3px 0px 3px 0px;
}


</style>
    <div class="instructions">
    <form action="/init/default/geekbuddiesgraph" method="post">
        <div>
            <label for="name">BGG Username:</label>
            <input type="text" id="name" name="user_name" value="axelsohn" />
        </div>
        <br>
        <div class="button">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
